:root {
    --cor1: #B2BFCA;
    --cor2: #6F9ABF;
    --cor3: #51718C;
    --cor4: #383C40;
    --cor5: #253340;
    --cor6: #000000;
    --cor7: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.page {
    min-height: 100%;
    min-width: 100%;
    background-color: var(--cor1);
    color: var(--cor5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box {
    background-color: var(--cor1);
    border-radius: 25px;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    min-width: 100%;
    background-color: var(--cor5);
    color: var(--cor7) !important;
}